POSTGRES_SCHEMA=public
POSTGRES_ARAI_MASTERS_URL=postgresql://postgres:password@localhost:5432/arai_masters
POSTGRES_ORDER_MANAGEMENT_DB_URL=postgresql://postgres:password@localhost:5432/order_management